* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Poppins;
}
* {
  box-sizing: border-box;
}
body {
  max-width: 1000px;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  /*The height of the container*/
  height: 100vh;
  /*Here we set the spacing into auto space for both the heading and the footer , we then set most of the space to the main content of the page*/
  grid-template-rows: auto 1fr auto;
}
.container-1 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.navigation {
  display: grid;
  /*Sets the grid alignment in horizontal way*/
  grid-template-columns: 2fr repeat(5, 1fr);
  align-items: center;

  /*Calculates the overall width then devide it by 10*/
  gap: calc(100% / 10);
}
.navigation li {
  list-style-type: none;
  cursor: pointer;
  font-weight: 400;
  opacity: 0.7;
}
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.button {
  margin-right: 20px;
  width: 10vw;
  border-radius: 15px;
  padding: 11px;
  border-radius: 40px;
  border: none;
  background-color: black;
  color: white;
  font-family: Poppins;
}
.gridmain-1 button {
  border-radius: 30px;
  padding: 12px;
  font-family: Poppins;
  border: 1px solid grey;
  color: white;
  width: 15vw;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.item {
  padding: 5px;
  background-color: white;
  border: 4px solid black;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.gridmain-1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
}
.gridmain-1 h1 {
  width: 70%;
}
.gridmain-2 img {
  height: 300px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px;
}
.socials {
  display: flex;
  gap: 50px;
  align-items: center;
}
.footer a {
  text-decoration: none;
  color: black;
  font-family: Jetbrains Mono;
}
